import React, { FunctionComponent } from 'react';
import { } from './index.styles'

export type Props = {

}

const {{ pascalCase templateName }}: FunctionComponent<Props> = ({}) => {
  return (
    <div>
      {{ pascalCase templateName }} works!
    </div>
  )
}

export default {{ pascalCase templateName }}